<template>
    <div id="overlay">
        <div v-if="loading">
            <div id="text">{{text}}</div>
        </div>
        <a @click.stop="$emit('close')">X</a>
        <div v-if="alert.hasOwnProperty('type')">
            <div class="alert alert-success" v-if="alert.type=='success'">
                Betcode has been shared!
            </div>
            <div class="alert alert-danger" v-if="alert.type=='error'">
                {{ alert.message }}
            </div>
        </div>
        <div class="content" v-if="content.hasOwnProperty('betcode')">
            <div class="row">
                <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
                    <div class="card">
                        <div class="card-header">
                            Betcode: {{ content.betcode }}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                            <span class="left">
                                                <span class="stake">Stake:</span>
                                                <span class="stake-amount">₦{{ content.stake }}</span>
                                            </span>
                                <span class="right">
                                                <span class="winnings">Winnings:</span>
                                                <span class="winnings-amount">₦{{ content.winnings }}</span>
                                            </span>
                            </li>
                            <li class="list-group-item">
                                            <span class="left">
                                                <span class="block odds">Odds:</span>
                                                <span class="block odds-amount">{{ content.odds }}</span>
                                            </span>
                                <span class="right">
                                                <span class="block games">Games:</span>
                                                <span class="block games-amount">{{ content.games.length }}</span>
                                            </span>
                            </li>
                            <li class="list-group-item" v-for="game in content.games">
                                <span class="left">{{ game.match }}</span>
                                <span class="right">{{ game.prediction }}</span>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <button type="button" class="btn btn-outline-success btn-block btn-sm" @click.prevent="$emit('share')">Share!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['text', 'content', 'alert', 'loading'],
    }
</script>
