body{
    font-size: 14px!important;
}
.jumb-main{
    margin-bottom: 0px!important;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.has-error{
    color: #ff6310;
    font-weight: 600;
}

.mgtop{
    margin-top: 15px;
}
.w-100 {
    width: 100%;
}
.w-65{
    width: 65%;
}
.w-60 {
    width: 60%;
}
.w-50{
    width:50%;
}
.w-35{
    width: 35%;
}
.ta-l{
    text-align: left;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}
.bet-pic{
    max-width:100%;
    height:auto;
}
.game-left{
    width: 170px;
    text-align: left;
}
.game-right{
    width: 30px;
    text-align: right;
}


.close {
    position: relative;
    top: 2px;
    right: 1px;
    color: inherit;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.all-boxes{
    width:100%;
}

.main-box{
    border: 1px solid silver;
    width: 100%;
}

hr.no-styling{
    margin-top: .50rem;
    margin-bottom: .50rem;
}
button.button-follow:hover {
    outline: none;
    color: white!important;
    border: none!important;
}

.the_grey_color{

    background:#ccc;
}

.nav-item{
font-weight: 700;
font-size: 17px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1002; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; !* Add a pointer on hover *!*/
}
#text {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#overlay a {
    color: white;
    font-weight: bold;
    zoom: 150%;
    rotation: 30deg;
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 10px;
}
#overlay .content {
    margin-top: 40px;
    height: 400px;
}
.content ul {
    list-style: none;
    margin-top: 30px;
}
.content .list-group {
    margin-top: 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}