h1 {
	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size:55px;
	text-decoration: none;
	color: #E6E7E8;
	text-transform: none;
}



.headbanner {
	min-height:640px;
	height:auto;
	background-color: #A8CF45;
	background-attachment: fixed;
	background-image: url(../img/bg.jpg);
	text-align: center;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom;
}

.headbanner2 {
	min-height:640px;
	height:auto;
	background-color:  #FCFCFC;
	background-attachment: fixed;
/*	background-image: url(../img/bg.jpg);
*/	text-align:left;
}

.headtop {
	
	min-height:50px;
	height:auto;
	padding-top:40px;
	text-align: center;
}

.head1 {
	
	font-family: 'Roboto', serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: #E6E7E8;
	text-transform: none;
	line-height:2.4em;
	padding-top:0px;
	text-align: center;
	margin:0;
}


.page1 {
	min-height:500px;
	height:auto;
	background-color: #FCFCFC;
	font-size: 13px;
	text-align:left;
	margin-top:-20px;
	background-color:#074045;
	background-image: url(../img/sharebet_bg2.png);
	/*background-size:contain;*/
	background-repeat:no-repeat;
	background-position: 30% bottom;
}

.top1 {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: #333;
	text-transform: none;
	line-height:1.2em;
	text-align:left;
	width:100%;
	height:auto;
	margin-top:20px;
}

.page2 {
	min-height:630px;
	height:auto;
	background-color: #333;
	font-size: 13px;
	
}

.top2 {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	text-transform: none;
	line-height:1.8em;
	padding-top:15px;
	text-align:center;
	width:100%;
	height:auto;
}

.r2 {
	height:450px;
	background-color: #333;
	font-size: 13px;
	text-align:center;
}


.page3 {
	min-height:380px;
	height:auto;
	background-color: #E4E4E4;
	font-size: 13px;
}
.top3 {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: #333;
	text-transform: none;
	line-height:1.2em;
	padding-top:15px;
	text-align:center;
}

.footer {
	min-height:60px;
	height:auto;
	background-color: #ffffff;
	font-size: 13px;
	text-align:left;
	width:100%;
}



.footerin {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	color: #666;
	text-transform: none;
	line-height:1.9em;
	padding-top:5px;
	text-align:left;
}

.footerinr {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	color: #666;
	text-transform: none;
	line-height:1.9em;
	padding-top:5px;
	text-align:left;
	/*min-height:20px;*/
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EDEDED;
}

#mc-embedded-subscribe-form {
	
	background-color: #E4E4E4;
}

.f1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: #FFF;
	text-transform: none;
	line-height:1.6em;
	background-color:#9AC448;
	min-width:100px;
	width:auto;
	height:40px;
	text-align:center;
	margin:0;
}


.f2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 200;
	text-decoration: none;
	color: #9AC448;
	line-height:1.3em;
}


.f2a {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:50px;
	text-decoration: none;
	color: #2A2B2F;
	text-transform: none;
}

.f2ai {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:30px;
	text-decoration: none;
	color: #2A2B2F;
	text-transform: none;
}


.f3 {
	font-family: 'Roboto', serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: #FFF;
	line-height:1.5em;
}



.f4 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size:28px;
	text-decoration: none;
	color: #9AC448;
	text-transform: none;
	line-height:1.2em;
}


.f5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 200;
	text-decoration: none;
	color: #007C61;
	line-height:1.3em;
}

.f6 {
	font-family: 'Roboto', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: #666;
}



@media screen and (max-width: 768px) {

.head1 {
	
	font-family: 'Roboto', serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	text-transform: none;
	line-height:1.8em;
	padding-top:20px;
}

.headtop {
	
	min-height:50px;
	height:auto;
	padding-top:40px;
	margin-left: 0px;
}


.page1 {
	min-height:500px;
	height:auto;
	background-color: #FCFCFC;
	font-size: 13px;
	text-align:left;
	margin-top:-20px;
	background-color:#007C61;
	background-image: none;
	/*background-size:contain;*/
}


}



