// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
  font-family: $font-family-sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.profile-column {
  .pc {
    margin: 0px auto;
    width: inherit;
    text-align: center;
  }

  .avatar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .user-block {
    padding: 5px;
    border-bottom: 1px solid #cce5ff;
    .username {
      font-size: 17px;
      font-style: normal;
      text-decoration: none;
      color: #2C3E50;
      font-weight: bold;
      text-transform: lowercase;
    }
    .user-title {
      font-size: 14px;
      font-style: normal;
      text-decoration: none;
      color: #089B7F;
      text-transform: capitalize;
    }
  }

  .action-section {
    border-bottom: 1px solid #cce5ff;
    padding: 25px 5px;
    .followers {
      font-size: 16px;
      font-style: normal;
      text-decoration: none;
      color: #089B7F;
      font-weight: bold;
      text-transform: lowercase;
      margin-bottom: 10px;

      .ff {
        font-size: 11px;
        font-style: normal;
        text-decoration: none;
        color: #BDBFC1;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
      }
    }
  }

  .badge-container {
    min-height: 75px;
    .badge {
      text-transform: uppercase;
      color: #BDBFC1;
    }
  }
}

.same-bg {
  background-color: #2B3D4F;
  padding-top: 20px;
  padding-bottom: 20px;
  div {
    text-align: center;
  }

  .shared-bet .figure,
  .win-rate .figure,
  .total-wins .figure {
    color: rgba(12, 196, 158, 0.97);
    font-weight: bold;
    font-size: 25px;
  }

  .shared-bet, .win-rate {
    border-right: 1px dashed white;
  }

  .shared-bet .text,
  .win-rate .text,
  .total-wins .text {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.bet-head {
  color: white;
  text-align: center;
  background-color: #E6E7E8;
  margin: 10px 0px;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.border {
  border: 1px solid #2C3E50;
}

.profile-row {
  font-size: 12px;

  .ticketbox {
    background-color: white;

    .ticket-head.open {
      border-top-color: midnightblue;
    }
    .ticket-head.won {
      border-top-color: $theme-green;
    }
    .ticket-head.lost {
      border-top-color: $danger;
    }


    .ticket-head {
      border-top: 4px solid;
      border-bottom: 1px solid #cce5ff;

      .th-left, .th-right {
        display: inline-block;
      }
      .th-left {
        width: 35%;
        text-align: center;
        line-height: 80px;
        vertical-align: top;
        img {
          vertical-align: middle;
        }
      }
      .th-right {
        width: 63%;
        .top {
          .username {
            font-weight: 600;
            font-size: 14px;
            color: #2C3E50;
            text-transform: lowercase;
          }
          .user-level {
            font-size: 12px;
            color: #089B7F;
            text-transform: capitalize;
            margin-top: -3px;
          }
        }
        .below {
          margin: 0;
          .b-left {
            width: 57%;
            display: inline-block;
            text-align: left;
            vertical-align: top;
            padding-top: 4px;
            span {
              display: inline-block;
            }
          }
          .b-right {
            display: inline-block;
            width: 40%;
            text-align: right;
            padding-right: 5px;
          }
        }
      }
    }

    .ticket-info {

      border-bottom: 1px solid #E6E7E8;

      .t-top-left, .t-bottom-left {
        text-align: left;
        width: 50%;
        display: inline-block;
        padding: 5px;
        vertical-align: top;
      }
      .t-top-right, .t-bottom-right {
        text-align: right;
        display: inline-block;
        padding: 5px;
        width: 48%;
        vertical-align: top;
      }
    }
  }
}

span.stake, span.stake-amount, span.winnings, span.winnings-amount {
  display: block;
}

.block {
  display: block;
}

.rebet-row {

    div {
      height: 35px;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
    }

  .share-button {
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #089B7F;
    width:60%;
    float:left;
  }
  .rebet-times{
    font-size: 11px;
    color: #2C3E50;
    font-weight: bold;
    text-transform: lowercase;
    background-color: #cce5ff;
    width:20%;
    float:left;
    cursor:default;
  }
  .r-collapse{
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #2C3E50;
    width:20%;
    float:right;
  }
}

span.stake, span.winnings, span.odds, span.games {
  font-size: 10px;
  font-style: normal;
  text-decoration: none;
  color: #BDBFC1;
  font-weight: bold;
}

span.stake-amount {
  font-size: 14px;
  color: #089B7F;
  font-weight: bold;
}

span.winnings-amount {
  font-size: 13px;
  color: #2C3E50;
  font-weight: bold;
}

span.odds-amount, span.games-amount {
  font-size: 14px;
  color: #089B7F;
}

div.ticket-matches {
  div.game-row.more{
    border-bottom: 0px;
    text-align: center;
    border-bottom:1px solid $theme-green;
  }
  div.game-row {
    display: block;
    font-size: 10px;
    border-bottom: 1px solid #E6E7E8;
  }
  div.game {
    display: inline-block;
    width: 70%;
    text-align: left;
    padding: 3px;
  }
  div.game-prediction {
    width: 27%;
    display: inline-block;
    text-align: right;
    padding: 3px;
  }
}

.share-bet-form{
  font-size: 11px;
  color:#2B3D4F;

  input{
    font-size: 11px;
  }
  .card {
    background-color: #DFDFDF;
    border-left: none;
    border-right: none;
  }

  .card-header {
    border-radius: 0;
    font-size: 12px;
    color: white;
    background-color: #2B3D4F;
    font-weight: bold;
    text-transform: uppercase;
  }
  .card-block{
    padding: 20px 28px;
  }
}

#overlay{

  .alert.alert-success, .alert.alert-danger{
    border-radius:0px;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
  }
  .content {
    .card{
      border:0px;
    }
    .card-header, .card-footer{
      border-radius: 0;
      font-size: 12px;
      color: white;
      background-color: #2B3D4F;
      font-weight: bold;
      text-transform: uppercase;
    }
    .list-group-item {
      padding: .5rem 1.25rem;
      font-size: 12px;
    }
  }
}

.peflost::before {
  content: "•";
}

.peflost {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  color: #E41D34;
  font-weight: bold;
}

.pefwon::before {
  content: "•";
}

.pefwon {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  color: #A6CE39;
  font-weight: bold;
  content: "•";
}

.ticket-matches{

  .game-row:hover div{
    font-weight: 400;
  }
}

.jumbotron {
  background: $cyan;
}

#main-nav a.nav-link{
  margin: 0px 20px;
}

.mt-6{
  margin-top: 6px;
}
.mt-8{
  margin-top: 8px;
}

.pagination{
  margin-top: 20px;
}

.more-games{
  text-align: center;
  color: $deep-blue;
  padding-left:20px;
  padding-right:20px;
}
.more-games:hover{
  text-decoration: none;
}




.button:hover{
  text-decoration: none;
  color: white;
  background-color: $theme-green;
}

.button {
  display: inline-block;
  height: 20px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
}

.button-follow, button-follow, input[type="submit"].button-follow, input[type="reset"].button-follow, input[type="button"].button-follow {
  display: inline-block;
  height: 30px;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2C3E50;
  box-sizing: border-box;
  padding: 6px 6px 0px;
}

.button-follow:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.ticket-rebet{
  width:100%;
  float:left;
  margin-top:1px;
  text-align: center;

  a{
    color:white;
    font-weight: bold;
  }

  div{
    padding-top:10px;
    padding-bottom:10px;
  }

  .rebet-link{
    float:left;
    width:60%;
    text-transform: uppercase;
    font-weight: 700;
  }
  .rebet-link.open{
    background-color:$theme-green;
  }
  .rebet-link.won{
    background-color:$theme-green;
    cursor:default!important;
  }
  .rebet-link.lost{
    background-color: $danger;
    cursor: default!important;
  }



  .rebet-times{
    float:left;
    width:30%;
    background-color:$cyan;
  }

  .rebet-dropdown{
    float:right;
    width:10%;
    background-color:$deep-blue;
  }
}

#rebet-modal{

  *{
    border-radius: 0px;
  }
  .modal-content{

  }
  .modal-body{
    max-height: 500px;
    background-color: $deep-blue;

    .layer-one{
      display: block;

      .odds-c, .games-c{
        float:left;
        width: 50%;
        text-align: center;
        font-weight: bold;
      }

      .odds-head, .games-head{
        color: $gray-400;
        font-size: 20px;
      }

      .odds-value, .games-value{
        font-size: 28px;
        color: $theme-green;
      }
    }
    .layer-two{
      font-weight: 700;
      font-size: 18px;
      label{
        color: $gray-400;
        text-align: right;
        padding-top: 6px;
      }
      .currency{
        display: inline;
      }
      input[type=text] {
        outline: none;
        font-weight: 600;
        display: inline;
        width:90%;
      }
      .button-group{
        margin-top:3px;
      }
    }
    .layer-three{
      height: 20%;
      border:1px solid $green;
      display: block;
      text-align: center;
      font-weight: 600;
      color:white;

      .head{
        text-transform: capitalize;
        color: $gray-400;
        font-size: 20px;
      }
    }
  }
  .modal-header{
    background-color: $deep-blue;
    color: white;
    .modal-title{
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .modal-footer{
    padding: 0px!important;
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    .send-bet:hover, .cancel:hover{
      cursor: pointer;
    }
    .send-bet{
      background-color: $theme-green;
      padding:15px 10px;
      width:60%;
      margin:0px;
      text-align: center;
    }
    .cancel{
      padding:15px 10px;
      width:40%;
      margin:0px;
      background-color: $gray-500;
      text-align: center;
    }
  }
}

.green-button{
  color: white;
  background-color: $theme-green;
  padding: 4px 14px;
  display: inline-block;
  font-size: 14px;
}
.green-button:hover{
  cursor: pointer;
}

.text-white{
  color:white;
}
.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

#main-nav {
  a {
    font-size: 18px;
    font-weight: 700;
  }
  .active a{
    color: $theme-green;
  }
}